@font-face {
  font-family: "HanaLeiFill-Regular";
  src: url("../fonts/HanaleiFill-Regular.woff"); }
@font-face {
  font-family: "Playfairdisplay";
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff") format("webopenfont"); }
@font-face {
  font-family: "Playfair";
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff2"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100%; }

.navigations {
  width: 100%;
  margin-top: 10px; }
  .navigations nav {
    margin-left: 10%;
    display: flex; }
    .navigations nav img {
      height: 5%;
      width: 10%; }
    .navigations nav ul {
      margin-top: 10px;
      display: flex;
      min-height: 10vh;
      margin-left: 45%; }
      .navigations nav ul li {
        list-style: none;
        margin-left: 40px; }
        .navigations nav ul li a {
          text-decoration: none;
          color: #5c5c5c;
          letter-spacing: 2px;
          font-weight: bold;
          font-size: 0.9rem;
          font-family: "Playfair"; }
          .navigations nav ul li a:hover {
            color: black;
            font-weight: bolder; }

.basics {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px; }
  .basics h1 {
    margin-bottom: 35px;
    font-family: "Playfairdisplay";
    font-size: 2.3rem; }
  .basics p {
    margin-bottom: 20px;
    color: #5c5c5c; }

.menu {
  margin: 40px 250px; }
  .menu h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 1.7rem;
    font-family: "Playfairdisplay"; }
  .menu div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .menu div .imgs {
      margin: 8px 15px;
      height: 380px;
      width: 380px; }
      .menu div .imgs:hover {
        cursor: pointer;
        filter: brightness(55%); }

footer {
  text-align: center;
  padding-bottom: 40px; }
  footer p {
    color: #5c5c5c; }
    footer p a {
      color: #a4a4a4; }
      footer p a:hover {
        color: black; }

@media (min-width: 0) and (max-width: 489.9px) {
  body {
    overflow-x: hidden; }

  .navigations {
    width: 100%; }
    .navigations nav {
      width: 100%;
      margin-left: 4%; }
      .navigations nav img {
        width: 90px; }
      .navigations nav ul {
        margin-left: 27px; }
        .navigations nav ul li {
          margin-left: 10px; }
          .navigations nav ul li a {
            font-size: 0.5rem; }

  .basics {
    margin: 20px 40px; }
    .basics h1 {
      margin-bottom: 35px;
      font-size: 1.8rem; }

  .menu {
    margin: 40px 40px; }
    .menu h2 {
      font-size: 1.5rem; }
    .menu div .imgs {
      width: 250px;
      height: 250px; }

  footer p {
    margin: 20px 40px; } }
@media (min-width: 490px) and (max-width: 889.9px) {
  body {
    overflow-x: hidden; }

  .navigations {
    width: 100%; }
    .navigations nav {
      width: 100%;
      margin-left: 10%; }
      .navigations nav img {
        width: 90px; }
      .navigations nav ul {
        margin-left: 280px; }
        .navigations nav ul li {
          margin-left: 10px; }
          .navigations nav ul li a {
            font-size: 0.8rem; }

  .basics {
    margin: 30px 100px; }
    .basics h1 {
      font-size: 1.9rem; }

  .menu {
    margin: 70px 70px; }
    .menu h2 {
      font-size: 1.6rem; }
    .menu div .imgs {
      width: 280px;
      height: 280px; } }
@media (min-width: 890px) and (max-width: 1284.9px) {
  .menu {
    margin: 20px 80px; }
    .menu div .imgs {
      width: 350px;
      height: 350px; } }

/*# sourceMappingURL=main.css.map */
